<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CribQuest</title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="./Images/logo.jpg" alt="Logo">
            </div>
            <div class="brand-name">
                CribQuest
            </div>
            <div class="nav-buttons">
                {{#unless loggedIn}}
                <a href="/login" class="btn-primary">Sign Up</a>
                <a href="/login" class="btn-primary">Log in</a>
                {{else}}
                {{!-- <button class="btn-primary" id="logout">Log out</button> --}}
                <button class="button is-primary is-outlined" id="logout">Logout</button>
                {{/unless}}
            </div>
        </nav>
    </header>
    <main>
        <div class="filter-container">
            <h2>Filter Listings</h2>
            <label for="state">State:</label>
            <input type="text" id="state" name="city">
            <label for="bedrooms">Bedrooms:</label>
            <input type="text" id="bedrooms" name="state">
            <label for="bathrooms">Bathrooms:</label>
            <input type="number" id="bathrooms" name="rooms">
            <label for="price">Price:</label>
            <select id="price" name="price">
                <option value="high-to-low">High to Low</option>
                <option value="low-to-high">Low to High</option>
            </select>
            <button onclick="filterListings()">Apply Filters</button>
        </div>
        {{{body}}}
    </main>
<script src="/js/logout.js"></script>
</body>

</html>