<div id="cribs-container" type="text/x-handlebars-template">
    <ul class="cribs-list">
        <li class="cribs-card">
            <h3>{{randomPrice}}</h3>
            <p>Bedrooms: {{randomBedrooms}}</p>
            <p>Bathroom: {{randomBathrooms}}</p>
            <p>State: {{randomState}}</p>
        </li>
    </ul>
</div>