<div>
<h2>Login</h2>
<form>
<label>
    Username
</label>
<input type="text" name="username" placeholder="John10" />
<label>
    Password 
</label>
<input type="password" name="password"/>
</form>

</div>