header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:  rgb(2, 15, 20);
    color: white;
    position: relative;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.brand-name {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
}

.nav-buttons button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.nav-buttons button:hover {
    background-color: #777;
}
body {
  background: url(https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.7,gy-0.8,q-75,rh-3264,rw-5824,th-1080,tw-1920/1243215554102431926.jpeg);
  background-size: cover;
}