header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.filter-container {
  font-family: "Pacifico", cursive;
  width: 5%;
  padding: 20px;
  position: fixed;
  top: 0px; /* Adjust according to your navbar height */
  left: 0;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(27, 71, 77);
  margin-top: 60px;
}
label,
input,
select,
button {
  padding-right: 30px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  color: black;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0f8bdf;
}
option {
  color: black;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.navbar {
  display: flex;
  left: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(2, 15, 20);
  color: white;
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1000; /* Ensures it stays on top of other elements */
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.brand-name {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 50px;
}

.nav-buttons button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.nav-buttons button:hover {
  background-color: #777;
}
body {
  background: url(https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.7,gy-0.8,q-75,rh-3264,rw-5824,th-1080,tw-1920/1243215554102431926.jpeg);
  background-size: cover;
  margin: 0;
  padding-left: 70px;
}

.card-container {
  margin-left: 5%;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: rgb(27, 71, 77);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: transform 0.6s ease;
}

.card:hover {
  transform: translateY(-20px);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-left: 8px;
  color: white;
}

.card-content p {
  color: white;
  margin-left: 8px;
  font-size: 16px;
  line-height: 1.3;
}
.img-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
